.Header {
  height: 50px;
    /* background-color: #FEFEFE; */
    background-color: #2a4d5d;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fff
    /* text-align: center; */
  }
  /* .content>div{
    padding:none;
  } */

  .header-input{
    width:400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
  }

  .header-image{
    width:200px;
    fill:#000;
    /* filter: invert(.5) sepia(1); */
    /* filter: invert(.5); */
  }

  .header-button{
    padding: 8px 15px;
    background-color:transparent;
    color: white;
    border: none;
    border:2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  .header-dropdown{
    width:auto;
    background-color:transparent;
    border:none;
    color: white;
    border:2px solid #fff;
    border-radius: 10px;
  }
  .header-dropdown:focus{
    outline: none;
  }


  .status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  

  .header-status{
    border:2px solid #fff;
    border-radius: 5px;
  }
  .header-menu{
    display: flex;
    
  }
  .menu{
    margin-right: 2px ;
    border-right: 2px solid #fff;
  }