.todo-list-container{
    width:90%;
    height: auto;
    min-height: 80%;
    margin-bottom: 50px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    background-color: #e9e8e7;
    
}
td{
    text-align: center;
}

.todoist-table{
    margin-top:50px;
    width:90%;
    height: auto;
    /* border: 1px solid black;  */
    border-collapse:collapse;
   
} 

.todoist-table th{
    width:100px;
    background-color: #2e3532;
}
.todo-menu{
    display: flex;
    flex-direction: column;
    /* gap:50px; */
    width:100px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 50px;
    z-index: 1;
    box-shadow: 5px black;
    background-color: #fff;
}
.todo-menu-items{
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
  align-items: center;

}
.todo-menu-items.active{
  background-color: #2e353267;
}
.todo-sub{
    padding: 40px;
    width:90%;
}
.slect-todo{
    width: 100%;
  box-sizing: border-box;
  display: flex;
}